extends layout.pug

block content

  article.portfolio-intro

   
    h1(class='myPort') Hello Future Employer! 

    
    p This portfolio is intended to showcase the work that I have done in my Full Stack JavaScript Techdegree.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell 
          a(href=`projects/${project.id}`)
            img.thumbnail(src=`${project.main_image.src}`, alt=`${project.main_image.alt}`)
          h5= project.project_name