<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ICLD Portfolio
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
      br
      .thumbnail-box
        img.thumbnail(src='/static/images/headshot.png', alt='picture of Ian')
      .dev-intro-box

          
            h5 Ian Cameron Lyles

          
            p Full Stack JavaScript Developer, Musician, Lighting Designer, Recording Engineer, and #1 Dad 

            
            a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          //- Replace with your name — this is for the mobile layout
          span Ian Cameron Lyles 

      block content

  script(src='/static/js/script.js')